<section class="content-header">

  <h1>
    Usuarios GCM
    <small>Muestra los usuarios a los que se les envían notificaciones GCM</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Usuarios GCM</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

            <table class="table table-hover">
      			  <tr>
      			  	<th>gcmUser</th>
      			  </tr>
      			  <tr ng-repeat="user in users">
      			  		<td>{{user.gcmUser}}</td>
      			  </tr>
      			</table>

        </div>  
    </div>

</section>