<section class="content-header">

  <h1>
    Gestión último artículo
    <small>Muestra artículo que se ve en la home de la App</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Gestión último artículo</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

            <h2 ng-bind-html="post.title"></h2>

            <p ng-bind-html="post.excerpt"></p> 
        </div>  
    </div>

    <div class="row">

        <div class="col-xs-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-primary" ng-click="refreshLastPost()">Regenerar último post</button>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
            <div class="alert alert-success" ng-show="mostrarMensajeOK" role="alert">Post actualizado</div>
            <div class="alert alert-danger" ng-show="mostrarMensajeERROR" role="alert">Errores actualizando el post</div>
        </div>
        </div>
    </div>

</section>