<section class="content-header">

  <h1>
    Gestión mapas
    <small>Muestra los artículos que van dentro del mapa</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Gestión mapas</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

            <ul ng-repeat="post in data.posts">
                <li ng-bind-html="post.title"></li>
            </ul>

        </div>  
    </div>

    <div class="row">

        <div class="col-xs-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-primary" ng-click="refreshMaps()">Regenerar mapas</button>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-6">
            <div class="alert alert-success" ng-show="mostrarMensajeOK" role="alert">Mapas actualizado</div>
        <div class="alert alert-danger" ng-show="mostrarMensajeERROR" role="alert">Errores actualizando mapas</div>
        </div>
        </div>
    </div>

</section>