<section class="content-header" ng-controller="SendPushNotificationController">

  <h1>
    Envío notificación PUSH
    <small>Permite envío notificación GCM</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Envío notificación PUSH</li>
  </ol>
</section>


<section class="content">

	<p>
		En esta página puedes enviar notificaciones PUSH a todos los usuarios registrados en tu sistema de usuarios GCM. Si quieres ver los usuarios que están registrados actualmente, pincha <a href="#/public/gcmusers"><span><b>aquí</b></span></a>
	</p>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

            <form> 
			  <div class="form-group">
			    <label for="mensaje">Introduce el mensaje que quieres enviar a los usuarios:</label>
			    <input type="text" 
			    	class="form-control" 
			    	id="mensaje" 
			    	ng-model="mensaje" 
			    	placeholder="Introduce la notificacion" 
			    	required>
			  </div>
			  <input type="submit" ng-click="send()" class="btn btn-primary" value="Enviar notificación PUSH" />

			</form>       

        </div>  
    </div>

    <div class="row" ng-hide="!mostrarResultado">
		<div class="col-xs-12 col-md-12 col-lg-12">
	    	<h2>Resultado del envío</h2>

	    	<table class="table table-hover">
      			  <tr>
      			  	<th>registration_id</th>
      			  	<th>message_id</th>
      			  </tr>
      			  <tr ng-repeat="resultado in resultadoEnvio.results">
      			  		
      			  		
      			  		<td>{{resultado.error}} {{resultado.registration_id}}</td>
      			  		<td>{{resultado.message_id}}</td>
      			  </tr>
      			</table>

		</div>
    </div>

</section>